body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
     
    padding: 15px 0; 
}

.nav {
    display: flex;
    justify-content: center; 
}

.nav ul {
    display: flex;
    gap: 30px; 
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

.nav a {
    text-decoration: none; 
    color: black; 
    font-weight: bold; 
    font-size: 20px; 
    
}



main {
    background-color: #fff;
    padding: 20px; 
}

section {
    display: flex;
    align-items: center; 
    margin: 40px 0; 
}

section img {
    width: 150px; 
    margin-right: 20px; 
}

h2 {
    font-size: 24px; 
    margin: 0 0 10px; 
    color: #4CAF50; 
}

p {
    font-size: 20px;
    text-align: left; 
    font-style: italic;
    line-height: 1.5;
    margin-left:30px; 
}

.team {
    background-color: wheat; 
    color: black; 
    padding: 20px; 
    text-align: center;
    border-bottom: 2px solid black;
}

.team h2 {
    font-size: 45px;
}

.team ul {
    list-style: none; 
    padding: 0; 
}

.team li {
    font-style: italic;
    font-size: 20px;
}
.menu-icon{
    position: relative;
    left:570px;
    font-weight: bold;
}
.char {
    width: 100vw; 
    height: auto; 
    max-height: 200px;
    object-fit: cover; 
    position: relative; 
    left: 50%; 
    right: 50%; 
    margin-left: -50vw; 
    margin-right: -50vw; 
}
