.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    padding-top: 80px; /* Adjust according to the header's height */
}

.login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
}

.login-form .input-group {
    margin-bottom: 15px;
    text-align: left;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555555;
}

.login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: wheat;
    color:#333333;
}

.login-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.login-btn:disabled:hover {
    background-color: #cccccc;
    color: #ffffff;
}

.footer-links {
    margin-top: 15px;
    font-size: 14px;
}

.footer-links a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.error-message {
    color: #dc3545;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 14px;
}

.success {
    color: #28a745;
    background-color: #d4edda;
    padding: 15px;
    border-radius: 4px;
    margin: 15px 0;
    font-size: 14px;
    animation: fadeIn 0.5s ease-in;
    border: 1px solid #c3e6cb;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}